name: Release

on:
  push:
    tags:
      - "v*"

env:
  APP_NAME: repotablo

jobs:
  create-github-release:
    name: Create GitHub Release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # it is a must!
          fetch-depth: 0

      - name: Set the release version
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF:11}" >> "$GITHUB_ENV"
          echo "${{ env.RELEASE_VERSION }}"

      - name: Checkout current tag
        shell: bash
        run: |
          git checkout v${{ env.RELEASE_VERSION }}

      - name: Generate a changelog
        uses: orhun/git-cliff-action@c93ef52f3d0ddcdcc9bd5447d98d458a11cd4f72 # v4.7.1
        id: git-cliff
        with:
          config: .cliff.toml
          args: -vv --strip header --current
        env:
          OUTPUT: CHANGELOG.md

      - name: Print the changelog
        run: cat "${{ steps.git-cliff.outputs.changelog }}"

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ secrets.GH_TOKEN }}
          name: "v${{ env.RELEASE_VERSION }}"
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
          generate_release_notes: true
          body_path: "${{ steps.git-cliff.outputs.changelog }}"

  publish:
    name: Publish
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {
              build: linux-gnu,
              os: ubuntu-24.04,
              target: x86_64-unknown-linux-gnu,
            }
          - { build: win-gnu, os: windows-2025, target: x86_64-pc-windows-gnu }
          - {
              build: win-msvc,
              os: windows-2025,
              target: x86_64-pc-windows-msvc,
            }
          - {
              build: win32-msvc,
              os: windows-2025,
              target: i686-pc-windows-msvc,
            }
          - { build: macos, os: macos-15, target: x86_64-apple-darwin }

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set the release version
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF:11}" >> "$GITHUB_ENV"
          echo "${{ env.RELEASE_VERSION }}"

      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          target: ${{ matrix.target }}

      - uses: taiki-e/install-action@470679bc3a1580072dac4e67535d1aa3a3dcdf51 # v2.68.6
        if: matrix.build == 'linux-musl'
        with:
          tool: cross

      - name: Build
        shell: bash
        run: |
          if [ "${{ matrix.build }}" = "linux-musl" ]; then
            cross build --release --locked --target ${{ matrix.target }}
          else
            cargo build --release --locked --target ${{ matrix.target }}
          fi

      - name: Build archive
        shell: bash
        run: |
          staging="${{ env.APP_NAME }}-${{ env.RELEASE_VERSION }}-${{ matrix.target }}"

          mkdir -p "$staging"/doc
          cp -r {README.md,LICENSE*} "$staging/"
          cp -r {CHANGELOG.md,docs/*} "$staging/doc/"

          if [[ "${{ matrix.os }}" =~ ^windows-.*$ ]]; then
            cp "target/${{ matrix.target }}/release/${{ env.APP_NAME }}.exe" "$staging/"
            cd "$staging"
            7z a "../$staging.zip" .
            echo "ASSET=$staging.zip" >> "$GITHUB_ENV"
          else
            cp "target/${{ matrix.target }}/release/${{ env.APP_NAME }}" "$staging/"
            tar czf "$staging.tar.gz" -C "$staging" .
            echo "ASSET=$staging.tar.gz" >> "$GITHUB_ENV"
          fi

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ secrets.GH_TOKEN }}
          name: "v${{ env.RELEASE_VERSION }}"
          files: ${{ env.ASSET }}
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
          generate_release_notes: false
